.header {
  grid-area: h;
  background: #262526;
}

/*.header img {*/
/*  width: 20px;*/
/*}*/
.loginBlock{
  float: right;
}
.loginBlock a{
  color: white;
}
.btn-primary {
  background: #27aae1;
  padding: 7px 25px;
  border: none;
  font-size: 14px;
  border-radius: 4px;
  color: #fff;
  position: relative;
  font-weight: 600;
  outline: none;
  border-radius: 30px;
}